/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */

html {
    line-height: 1.5;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: #36BF7F;
}

a:hover,
a:focus {
    color: #D96646;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

svg {
    fill:currentColor;
}

svg:not(:root) {
    overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
width: min(65em, 100%);
margin: 0 auto;
padding-left: 1.5rem;
padding-right: 1.5rem;
}

.btn {
  padding: 10px 20px;
  border: 2px solid var(--btn-color);
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--btn-color);
  text-decoration: none;
  color: var(--color-primary-light);
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary-light);
}

/* Styling */

:root {
  --color-primary: black;
  --color-primary-light: white;
  --color-secondary: hsl(0, 100%, 17%);
  --btn-color: darkred;
  --song-primary:  hsl(0, 0%, 10%);
  --song-secondary: #280b02;
}

html {
  font-family: Dosis;
  font-size: 1.25rem;
}

.title {
  background-color: black;
    text-align: center;
    color: var(--btn-color);
    border-bottom: 0.25rem solid var(--color-secondary);
    position: sticky;
    top: 0;
}

.song-img {
  background-color: var(--color-primary);
  text-align: center;
  width: auto;
}

.song-img .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.playlist {
  background-color: var(--color-primary);
  padding: 0.5rem;
}

.playlist .song {
  background-color: var(--song-primary);
  display: flex;
  color: lightblue;
  border: 0.25rem solid var(--color-secondary);
  margin-bottom: 0.1rem;
}

.playlist .current-track {
  background-color: var(--song-secondary);
}

.playlist .song-details {
  padding-left: 0.5rem;
  width: 50%;
}

.playlist .song-time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progress {
  height: 1.5rem;
  background-color: var(--btn-color);
  position: sticky;
  bottom: 4.75rem;
}

footer {
  border-top: 0.5rem solid var(--color-secondary);
  background-color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: var(--color-primary-light);
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  position: sticky;
  bottom: 0;
}

footer .controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

footer .times {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

@media only screen and (min-width: 65em) {
  main {
    display: flex;
  }

  .playlist {
    width: 60%;
    margin-bottom: 0;
  }
}